{%extends 'quiz_intro/random/randombase.html'%}
{%set quiz_mode='Timed'%}


{%block title%}Random {{quiz_mode}}{%endblock%}

<!--mode name in start-->
{%block quiz_mode%}{{quiz_mode}}{%endblock%}

<!--quiz info-->
{%block quiz_info%}
This mode challenges users to answer as many randomly selected questions as possible within a limited time (e.g., 2 or 5 minutes). The questions span all categories, requiring fast thinking and adaptability. It's perfect for users looking to improve their reflexes and recall under pressure.
{%endblock%}




