
<select name="no-of-question" id="question-select"
  class="bg-secondary-b text-secondary-t border border-gray-300 rounded shadow-md h-8 pl-2 pr-6 w-fit outline-transparent">
  <option value="" disabled selected>Select Number</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
  <option value="25">25</option>
  <option value="30">30</option>
  <option value="35">35</option>
  <option value="40">40</option>
  <option value="45">45</option>
  <option value="50">50</option>
  <option value="55">55</option>
  <option value="60">60</option>
</select>