{%extends 'quiz/category/categorybase.html'%}
{%block title%}Random Classic{%endblock%}


{%set quiz_mode='Classic'%}



{%block quiz_mode%}{{quiz_mode}}{%endblock%}

{%block quiz_info%}n gaming, "classic mode" often refers to a game mode that mimics the gameplay, graphics, and general feel of older video games, offering a nostalgic experience. It's a way for developers to tap into the popularity of retro gaming and appeal to a specific audience. 
{%endblock%}
{%block quiz_mode_feild%}{{quiz_mode}}{%endblock%}

{%block no_of_Question%}{%include 'quiz/components/no_of_question.html'%}{%endblock%}