{%extends 'quiz_intro/quiz_intro_base.html'%} {%set quiz_type='Category'%} {%block
quiz_type%}{{quiz_type}}{%endblock%} {%block catogery_select%}

<select name="category-name" id="category-select"
    class="bg-secondary-b text-secondary-t border border-gray-300 rounded shadow h-8 pl-2 pr-6 w-fit outline-transparent">
    <option value="" disabled selected>Select a category</option>
    <option value="Sport">Sport</option>
    <option value="Film">Film</option>
    <option value="History">History</option>
    <option value="Geography">Geography</option>
    <option value="Computers">Computers</option>
    <option value="Mythology">Mythology</option>
</select>

{%endblock%}