
{%extends 'quiz_intro/category/categorybase.html'%}
{%set quiz_mode='Classic'%}

{%block title%}Category {{quiz_mode}}{%endblock%}


<!--mode name in start-->
{%block quiz_mode%}{{quiz_mode}}{%endblock%}

<!--quiz info-->
{%block quiz_info%}
In this version of Classic Mode, the user selects a specific category—such as Science, History, or Sports—and receives a fixed number of questions from only that topic. This allows for focused learning and practice in a single domain. A time limit per question may be included, helping users sharpen their understanding of a particular subject. 
{%endblock%}

{% block no_of_Question %}
<div class="flex flex-col gap-1">
    <label for="no-of-question" class="text-sm font-medium text-gray-700">❓ Number of Questions</label>
    <select name="no-of-question" id="no-of-question"
        class="bg-secondary-b text-secondary-t border border-gray-300 rounded-md shadow-sm h-10 px-3 w-full sm:w-64 focus:ring-2 focus:ring-accent focus:outline-none transition">
        <option value="" disabled selected>Select Number</option>
        {% for n in range(5, 65, 5) %}
            <option value="{{ n }}">{{ n }}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}


