{%extends 'quiz_intro/random/randombase.html'%}

{%set quiz_mode='Classic'%}


{%block title%}Random {{quiz_mode}}{%endblock%}

<!--mode name in start-->
{%block quiz_mode%}{{quiz_mode}}{%endblock%}

<!--quiz info-->
{%block quiz_info%}
In this mode, users are presented with a fixed number of questions selected randomly from all available categories. Each quiz offers a balanced mix of topics, providing a general knowledge challenge. A time limit per question may be applied to encourage quick thinking. This mode is ideal for users who want to test themselves across various subjects. 
{%endblock%}


<!--only in classic to select the no of question-->
{% block no_of_Question %}
<div class="flex flex-col gap-1">
    <label for="no-of-question" class="text-sm font-medium text-gray-700">❓ Number of Questions</label>
    <select name="no-of-question" id="no-of-question"
        class="bg-secondary-b text-secondary-t border border-gray-300 rounded-md shadow-sm h-10 px-3 w-full sm:w-64 focus:ring-2 focus:ring-accent focus:outline-none transition">
        <option value="" disabled selected>Select Number</option>
        {% for n in range(5, 65, 5) %}
            <option value="{{ n }}">{{ n }}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}

