{%extends 'quiz_intro/random/randombase.html'%}

{%set quiz_mode='Classic'%}


{%block title%}Random {{quiz_mode}}{%endblock%}

<!--mode name in start-->
{%block quiz_mode%}{{quiz_mode}}{%endblock%}

<!--quiz info-->
{%block quiz_info%}
In this mode, users are presented with a fixed number of questions selected randomly from all available categories. Each quiz offers a balanced mix of topics, providing a general knowledge challenge. A time limit per question may be applied to encourage quick thinking. This mode is ideal for users who want to test themselves across various subjects. 
{%endblock%}


<!--only in classic to select the no of question-->
{%block no_of_Question%}
<select name="no-of-question" id="question-select"
  class="bg-secondary-b text-secondary-t border border-gray-300 rounded shadow-md h-8 pl-2 pr-6 w-fit outline-transparent">
  <option value="" disabled selected>Select Number</option>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
  <option value="25">25</option>
  <option value="30">30</option>
  <option value="35">35</option>
  <option value="40">40</option>
  <option value="45">45</option>
  <option value="50">50</option>
  <option value="55">55</option>
  <option value="60">60</option>
</select>
{%endblock%}

