{%extends 'base.html'%} {%block title%}{%endblock%} {%block content%}
<div class="h-dvh flex bg-base-b">
    {%include 'sidebar.html'%}

    <main class="m-1.5 w-full">
        <div id="quiz-feild" class="flex flex-col w-full m-auto p-6 items-center">
            <div class="self-start flex p-1.5 border-l-2 gap-1 text-xl font-bold">
                <span class="">{%block quiz_type_feild%}{%endblock%} :</span><span>{%block
                    quiz_mode_feild%}{%endblock%}</span>
            </div>

            <div class="flex items-center gap-4 self-end">
                <div class="border h-fit border-black p-2 mr-1 rounded-md shadow">
                    9999
                </div>

                <div id="countdown" class="border border-black p-2.5 size-20 rounded-full shadow">
                    0000
                </div>
            </div>

            <div class="flex flex-col w-full px-16">
                <div class="h-10 mb-1">{%block quiz_feild_catogery%}{%endblock%}</div>

                <div class="w-full flex flex-col">
                    <div id="show-question" class="border bg-nav text-white border-black rounded shadow p-4 text-lg">
                        Question Here
                    </div>
                </div>
                <div id="options" class="w-4/6 mt-8 grid grid-cols-2 grid-rows-2 gap-y-7 gap-x-24 self-center">
                  
                    <button id="option-1" class="opt-btn">Option A</button>
                    <button id="option-3" class="opt-btn">Option C</button>

                  
                    <button id="option-2" class="opt-btn">Option B</button>
                    <button id="option-4" class="opt-btn">Option D</button>
                </div>
            </div>
            <button id="next" class="opt-btn hidden">Next</button>
        </div>
    </main>
</div>


<script>
    const showQuestion=document.getElementById('show-question')
    const option1=document.getElementById('option-1')
    const option2=document.getElementById('option-2')
    const option3=document.getElementById('option-3')
    const option4=document.getElementById('option-4')

    async function getQuestion(){
        let url='/api/get_question/'

        let response=await fetch(url)
        let question=await response.json()

        showQuestion.innerText=question.question_text
        option1.innerText=question.options[0]
        option2.innerText=question.options[1]
        option3.innerText=question.options[3]
        option4.innerText=question.options[4]

        console.log(question)

      

    
    
    }

    [option1,option2,option3,option4].forEach(element => {
            element.addEventListener('click', ()=>{
                checkAnswer(element)
            })
    });


    async function submitAnswer(option) {
        
    }
    getQuestion()

</script>

{%block quizbase%}
 {%endblock%}
 {%endblock%}