@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import "tailwindcss";


@theme{
  --color-nav: hsl(204, 18%, 17%);
   --color-nav-text:rgba(255,255,255,.8);

  --color-base-b:#ecf9f8;
  --color-base-t:rgb(85, 85, 85);
   
  --color-secondary-b:rgba(255, 255, 255,0.7);
  --color-secondary-t: rgb(51, 51, 51);

  --color-accent:rgba(68,153,234,.9);
  --color-accent-t:rgb(225, 225, 225);
  --color-accent-h:rgba(58, 135, 210, 1);
  
  --color-shadowx:rgba(0, 0, 0, 0.37);
 

  --color-NPtext:rgba(255,255,255,.96);

  --font-revalia: "Revalia", sans-serif;
  --font-rubik:"Rubik Spray Paint", system-ui;
 

}


@layer components{
    .nav-button{
        @apply hidden sm:w-28 font-bold text-center m-0 text-nav-text sm:block py-3
       hover:text-white;
    }

    
    .side-nav-btn{
      @apply w-full p-3 font-bold text-gray-100 text-center hover:text-white
        active:bg-gray-500 active:text-white 
         hover:bg-gray-500 ; 
    }

  

    .sidebar-btn{
      @apply rounded-md font-bold p-2 flex items-center flex-nowrap gap-3 w-full text-left  hover:bg-accent hover:text-accent-t;
    }

    
    .opt-btn{
    @apply bg-nav border border-gray-400 text-accent-t rounded shadow  px-6 py-3
     hover:bg-gray-500 cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-400;

    }
}
 

@layer base{
  svg{
    @apply fill-base-t shrink-0 group-hover:fill-accent-t transition-all ease-in-out duration-300;
  }
  
}