{%extends 'base.html'%} {%block title%}Add Question{%endblock%} {%block content%}

<main class="w-full h-fit flex justify-center bg-base-b">

    <div class="w-full max-w-4xl mt-5 bg-white rounded-xl shadow-lg p-8 border border-gray-200">
        <h1 class=" text-3xl font-bold mb-3 text-gray-800">Add Question</h1>
        <hr class="mb-3" />
        <form action="{{url_for('question.add_question')}}" method="post">
            <div class="mb-6 relative">
                <label class="block text-lg font-semibold mb-2">Question</label>
                <input type="text" id="question_text" name="question_text" placeholder="Add your question" required
                    maxlength="100"
                    class="w-full px-4 py-3  border border-gray-300 rounded-md placeholder:text-gray-400 placeholder:text-lg focus:outline-none focus:ring-2 focus:ring-blue-400" />

                <span id="charCounter" class="absolute right-0 bottom-0 text-sm mr-0.5 text-gray-400 ">0/100</span>
            </div>


            <div class="mb-6">
                <label class="block text-lg font-semibold mb-2">Options</label>
                <div class="grid grid-cols-2 gap-4">
                    <input type="text" name="option_1" placeholder="Option 1" required
                        class="option-input px-4 py-2 border border-gray-300 rounded-md placeholder:text-base focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    <input type="text" name="option_2" placeholder="Option 2" required
                        class="option-input px-4 py-2 border border-gray-300 rounded-md placeholder:text-base focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    <input type="text" name="option_3" placeholder="Option 3" required
                        class="option-input px-4 py-2 border border-gray-300 rounded-md placeholder:text-base focus:outline-none focus:ring-2 focus:ring-blue-400" />
                    <input type="text" name="option_4" placeholder="Option 4" required
                        class="option-input px-4 py-2 border border-gray-300 rounded-md placeholder:text-base focus:outline-none focus:ring-2 focus:ring-blue-400" />
                </div>
            </div>

            <div class="mb-6 flex gap-6">
                <div class="flex-1">
                    <label class="block text-lg font-semibold mb-2">Correct Options</label>
                    <select id="correctOption" name="correct_option" required
                        class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400">
                        <option value="" disabled selected>Select Correct Option</option>
                    </select>
                </div>


                <div class="flex-1">
                    <label class="block text-lg font-semibold mb-2">Category</label>
                    <select name="category" required
                        class="w-full px-4 py-2 border border-gray-300 rounded-md text-base text-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-400">
                        <option value="" disabled selected>Select Category</option>
                        {% for category in categories %}

                        <option value="{{category}}">{{category}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>


            <div class="text-center">
                <input type="submit" value="Submit"
                    class="bg-accent text-white font-semibold px-6 py-2 rounded-md hover:bg-blue-700 transition-all cursor-pointer" />
            </div>
        </form>
    </div>
</main>


<script>

    const optionInputs = document.querySelectorAll(".option-input");
    const correctOptionSelect = document.getElementById("correctOption");

    optionInputs.forEach(input => {
        input.addEventListener("input", updateDropdown);
    });

    function updateDropdown() {
        correctOptionSelect.innerHTML = '<option value="" disabled selected>Select Correct Option</option>';

        optionInputs.forEach(input => {
            if (input.value.trim() !== "") {
                const option = document.createElement("option");
                option.value = input.value;
                option.textContent = input.value;
                correctOptionSelect.appendChild(option);
            }
        });
    }



    const input = document.getElementById('question_text');
    const counter = document.getElementById('charCounter');

    input.addEventListener("input", () => {
        const inputLength = input.value.length;
        const max = input.maxLength;


        counter.textContent = `${inputLength} / ${max}`;
    })

</script>

{%endblock%} {% block scripts %}
<!-- Child templates can insert their own scripts here -->
{% endblock %}