
{%extends 'base.html'%}

{%block title%}Leaderboard{%endblock%}




{%block content%}


<main>
    <h1>Leaderboard</h1>
    <p>{{mode}}</p>
    <p>{{type}}</p>


    <table border="1">

        <tr>
            <th>SN</th>
            <th>Username</th>
            <th>Score</th>
            {%if mode == 'Category'}
            <th>Category</th>
            {%endif}
        </tr>

        {%for d in data%}

        <tr>
            <td>{{d.rank_positon}}</td>
            <td>{{d.user_id}}</td>
            <td>{{d.high_score}}</td>
            {%if mode == 'Category'}
            <th>Category</th>
            {%endif}
        </tr>


        {%endfor%}
    </table>

</main>





{%endblock%}



{% block scripts %}
<!-- Child templates can insert their own scripts here -->
{% endblock %}